.contact-form__lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 10px;
  margin-bottom: 4px;
}

.contact-form__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus-within {
    border-color: var(--accent-col);
  }

  &:focus-within + .contact-form__icon {
    fill: var(--accent-col);
  }
}
.contact-form__message {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  vertical-align: top;
}

.contact-form__construction {
  position: relative;
}

.contact-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
}

.contact-form__submit-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.checkbox__label {
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid currentColor;
    border-radius: 2px;
    vertical-align: text-top;
  }

  .checkbox:checked + &::before {
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--accent-col);
    border-color: var(--accent-col);
  }
}

.checkbox__link {
  color: var(--accent-col);
}

.contact-form__submit-btn {
  margin-top: 30px;
}
