.email-form__field {
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  box-sizing: border-box;
  border-radius: 4px;

  @media screen and (min-width: 1199.98px) {
    width: 358px;
  }
}

.email-form__btn:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}
