.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.logo--second-color {
  color: var(--accent-col);
}
