.main-menu {
  color: var(--title-text-col);
  display: inline-flex;
  margin-left: 93px;
}

.main-menu__item:not(:last-child) {
  margin-right: 50px;
}

.current-page {
  position: relative;
  color: var(--accent-col);
  pointer-events: none;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 29px;
    background-color: var(--accent-col);
    border-color: var(--accent-col);
    position: absolute;
  }
}
