.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--link-animation);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  width: 528px;
  height: 581px;
  background: var(--logo-light-col);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--link-animation);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--logo-light-col);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 8px;
  top: 8px;

  &:hover {
    fill: var(--accent-col);
    cursor: pointer;
  }
}

.modal__title {
  color: var(--title-text-col);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
