.overlay__block {
  background-color: var(--accent-col);
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 24px;
  transform: translateY(112%);
  transition: transform var(--link-animation);
  // opacity: 0%;

  .overlay:hover &,
  .overlay:focus & {
    opacity: 90%;
    transform: translateY(0);
  }
}

.overlay__img {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--logo-light-col);
}
