.clients {
  display: inline-flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 93px;
  border: 1px solid var(--svg-col);
  border-radius: 4px;
  fill: var(--svg-col);
  transition: border-color var(--link-animation), fill var(--link-animation);

  &:hover,
  &:focus {
    border-color: var(--accent-col);
    fill: currentColor;
  }
}
