.footer {
  color: var(--logo-light-col);
  background-color: var(--bg-footer);
  padding: 60px 0;
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.footer__contacts {
  color: var(--footer-text-col);
  margin-top: 9px;
}

.footer--flex {
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
  }
}

.footer__blocks {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 61px;
    margin-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__blocks:not(:first-child) {
  @media screen and (max-width: 767.98px) {
    margin-top: 60px;
  }
}

// @media screen and (min-width: 768px) {
// margin-top: 0;
// }

.footer__blocks:not(:last-child) {
  margin-right: 0;

  @media screen and (min-width: 1199.98px) {
    margin-right: 76px;
  }
}

.footer__blocks:last-child {
  margin-right: 0;

  @media screen and (min-width: 1200px) {
    margin-left: 23px;
  }
}

.footer__social-icons {
  padding: 0;
  margin-top: 20px;
}

.footer__socials-link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--logo-light-col);

  &:hover,
  &:focus {
    background: var(--accent-col);
  }
}

.footer__title {
  color: var(--logo-light-col);
  margin-top: 12px;
  margin-bottom: 0;
}

.footer__form {
  margin-top: 20px;
}

.footer__form-field {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);

  @media screen and (min-width: 1199.98px) {
    margin-right: 10px;
  }
}
