.our-qualities {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1199.98px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.our-qualities__svg-block {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  background-color: var(--bg-second);
}

.our-qualities__title {
  color: var(--title-text-col);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 767.98px) {
    text-align: left;
  }
}
