.our-qualities {
  padding-top: 94px;
}

.our-qualities__svg-block {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  background-color: var(--bg-second);
}

.our-qualities__title {
  color: var(--title-text-col);
  margin-top: 30px;
  margin-bottom: 10px;
}
