.portfolio-card {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  transition: box-shadow var(--link-animation);
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.portfolio-card__content {
  border: 1px solid var(--portcard-border-col);
  border-top: none;
  width: 100%;
  // max-width: 370px;
  padding: 20px 24px;
}

.portfolio-card__title {
  font-weight: 700;
  color: var(--title-text-col);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
