.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1199.98px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-col);
  padding-bottom: 30px;

  @media screen and (min-width: 1199.98px) {
    padding-bottom: 50px;
  }
}

.section--grey-bg {
  background-color: var(--bg-second);
}
